/*=========================INTRODUCTION AND FILTER BUTTONS====================*/

/*INTRODUCTORY TEXT AND BUTTON FOR ANIMATION INITIATION*/

#main-page {
    height: 70vh;
    width: 90vw;
    max-height: 600px;
    min-height: 450px;
    max-width: 1200px;
    margin: 2em auto 0;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    background-color: white;
}

#main-page__div {
    width: 90%;
    height: 100%;
    max-height: 90vh;
    padding-top: 2em;
    margin: 5em auto;
    max-width: 1000px;
    
}

#main-page__div h1 {
    font-size: 2.5rem;
    line-height: 2em;
    text-align: center;
    width: 90%
}

.main-page__introBtn {
    border: 5px solid teal;
    border-radius: 25px;
    background-color: rgb(198, 230, 226);
    margin: 1.5em 0 3em 8em;
    padding: 1em;
    font-size: 2.5rem;
    font-weight: 700;
    width: 20em;
    cursor: pointer;
    transition: .5s;
}

/*BUTTONS FOR FILTER CHOICES*/

#main-page__button, #main-page__button-2 {
    opacity: 0%;
    display: none;
    font-size: 2.5rem;
    font-weight: 600;
    width: 15em;
    max-width: 450px;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
    border: 5px solid teal;
    border-radius: 25px;
    background-color: rgb(198, 230, 226);
    transition: .3s;
}

#main-page__button a {
    text-decoration: none;
}

/*=========================================FORMS==============*/

#div__formContainer {display: flex;}

#main-page__form, #main-page__form-2 {
    z-index: 0;
    display: none;
    animation: filterWiden 1.5s ease forwards;
    margin: .5em;
    padding: 2.5em;
    border: 3px solid teal;
    border-radius: 20px;
}

.main-page__form-h2, .main-page__form-2-h2 {font-size: 3rem;}

label {
    font-size: 2.5rem;
    margin: 1em;
}

#main-page__form-2-btn {
    display: none;
    opacity: 100%;
    font-size: 2rem;
    font-weight: 700;
    padding: .3em;
    margin-top: 1em;
    width: 30%;
    border-radius: 20px;
    color: white;
    background-color: white;
    border: 3px solid teal;
    position: relative;
    cursor: pointer;
}

#loadBar {
    display: none;
    width: 29%;
    height: 5%;
    background-color: teal;
    border-radius: 20px;
    position: relative;
    bottom: 3em;

}


/*========================HOVER EFFECTS FOR MAINPAGE SECTION=============*/

#main-page__button:hover, #main-page__button-2:hover{
    background-color: teal;
    color: white;
}

.main-page__introBtn:hover {
    background-color: teal;
    color: white;
    padding: 1.5em;
}

#main-page__form-2-btn:hover {
    background-color: teal;
    color: white;
}

/*==========================ANIMATIONS FOR MAINPAGE SECTION=============*/
/*Animations are attached to classes added to elements in js-script*/

/*INTRODUCTIONTEXT APPEAR*/

.introAnimated {animation: disappear 1.5s ease 0s 1 forwards;}

@keyframes disappear {
    0% {
        opacity: 100%;
        height: 100%;
    }
    
    100% {
        font-size: 0;
        opacity: 0%;
        height: 0%;
    }
}

/*FILTERBUTTONS APPEAR*/

.btnAnimated {animation: btnAppear 2s ease 1s forwards;}

@keyframes btnAppear {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

/*FILTEROPTIONS APPEAR*/

@keyframes filterWiden {
    0% {
        display: none;
        opacity: 0%;
    }

    100%{
        display: block;
        opacity: 100%;
    }
}

/*SHOW FILTERED EXERCISES*/

.showActivitiesAnimation {
    animation: buttonLoading 5s forwards;
}

@keyframes buttonLoading {
    0%{
        width: 0%;
        opacity: 100%;
    }

    90% {
        opacity: 100%;
    }

    99% {
        width: 30%;
    }
    100%{
        width: 0%;
        opacity: 0%;
    }
}

.showTextAnimation {
    animation: showTxt 3s ease 5s forwards;
}

@keyframes showTxt {
    from{color: white}
    to{color: black}
}