
#container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 5em auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto(minmax(200px));
    overflow: hidden;
    gap: 10px;
}

#container article{
    width: 100%;
    height: 100%;
    min-width: 300px;
    padding: .5em;
    font-size: 1.5rem;
}

#container img {
    width: 100%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    /*border-radius: 50%;*/
    object-fit: cover;
    transition: .3s;
    cursor: pointer;
}

/*#quantity, .container_label, .container_trening_button_1 {
    display: none;
}*/


ul {
    display: none;
    position: relative;
    top: -150px;
}



#treningsplan {
    width: 3em;
    height: 3em;
    background-color: blue;
    font-size: 1.5rem;
    transition: .3s;
    position: fixed;
}


.utvidet {
    width: 100%;
    min-width: 300px;
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    z-index: 2;
}

.container_trening_img {
    position: relative;
    width: 100%;
    min-width: 250px;
}

.utvidet ul {
    display: block;
    list-style-position: inside;
}