
/*ALLE TRENINGSØVELSER*/

.quantity, .container_label, .container_trening_button_1, .treningstype, .vanskelighetsgrad, .beskrivelse, ul{
    display: none;
   
}

h2 {
    font-size: 2.5rem;
}

.beskrivelse {
    top: 0;
    background-color: white;
    margin: 0 .5em;
}

ul {
    margin: 0 .5em;
    background-color: honeydew;
}

/*UTVIDET TRENINGSØVELSE*/

.utvidet {
    width: 100%;
    height: 100%;
    min-width: 200px;
    grid-column: span 2;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    background-color: green;
    transition: .5s;
}

.utvidet button {display: block;}

.utvidet h2 {
    font-size: 3rem;
    text-align: center;
}

.utvidet h3{
    display: inline;
    font-size: 2.5rem;    
    margin: .5em .5em;
    padding: .5em;

}

.utvidet ul {
    display: inline;
    top: 30%;
    font-size: 1.3em;
    margin: 0 .6em;
    padding: .5em;
    list-style-position: inside;
    
}

.utvidet img {
    display: none;
}

.utvidet input[type=number]{ 
    display: block;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: .5em;
    width: 20%;
}

.utvidet label{
    display: block;
    font-size: 2rem;
    margin: .5em .5em;
    text-align: center;
}

.utvidet button {
    width: 70%;
}

@media only screen and (max-width: 450px){
    

    .utvidet img {
        display: none;
    }
    
    .utvidet {
        /*grid-column: 1;*/
        grid-row: span 1;
        min-height: 500px;
    }

    .utvidet article {
        height: 100%;
    }
    
    .utvidet h3 {
        margin-top: 1em;;
    }

    .utvidet ul {
        margin-top: 1em;;
    }
    .utvidet article {
        height: 100%;
    }
}

/*TRENINGSPLAN - BOX */

#treningsplan {
    width: 3em;
    height: 3em;
    background-color: blue;
    font-size: 1.5rem;
    transition: .3s;
    position: fixed;
}
